/*General styling for structure*/
* {
	background-color: #131316;
	color: #ffffff;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	padding: 0px;
}

header {
	text-align: center;
}
h1 {
	letter-spacing: 5px;
	font-weight: 100;
	line-height: 50px;
	font-weight: 100;
	text-align: center;
	margin: 20px 0;
}
.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
}
.main-text {
	font-size: 24px;
	margin-top: 10px;
}
.main-text {
	font-size: 24px;
	margin-bottom: 10px;
}

.primary {
	margin: 70px 0;
}
.list {
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	margin: 5px;
	padding: 10px;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 3px 3px 5px 5px;
	border-radius: 14% 95% 6% 95%/95% 4% 92% 5%;
	font-family: Arial, Helvetica, sans-serif;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.link {
	color: #6767e6;
}

.secondary {
	margin: 60px 0;
}

.animation {
	text-align: center;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 50px;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
	animation: fadeIn 1.5s forwards;
	opacity: 0;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
	display: inline-block;
	animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
	/* background: #333; */
	z-index: 1;
	position: relative;
}

.oh {
	display: inline-flex;
	overflow: hidden;
}

.second {
	animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
	font-weight: 100;
	z-index: 0;
	display: inline-block;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes firstSpan {
	0% {
		transform: translateX(50%);
	}
	60% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes secondSpan {
	0% {
		transform: translateX(-100%);
	}
	60% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(-0%);
	}
}
